<?xml version="1.0" encoding="UTF-8"?>
<mapper>

  <select id="selectDateTime">
    SELECT strftime('%Y-%m-%d %H:%M:%S', datetime('now')) AS DATE_TIME
         , #{testValue} AS TEST_VALUE 
  </select>
  
  <select id="selectDate">
    SELECT strftime('%Y-%m-%d', datetime('now')) AS DATE_TIME
         , #{testValue} AS TEST_VALUE
         , #{testValue} AS TEST_VALUE2
  </select>
  
</mapper>